@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


body {
  background: #ebebeb;
  font-family: "Roboto", Helvetica, Arial, sans-serif;

  line-height: 1.42857143;
  color:#ff7f32;

    font-size: 16px;
    text-transform: uppercase;
}


main {
    width: 50vw;
    display: block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 
}

.H1 {
  
    font-size: 5rem;
    margin-bottom: 3rem;
    text-align: center;
    color: var(--color-texto);
    text-transform: uppercase;
}

main.social-media {
    display: flex;
    align-content: center;
}

main .social-media a {
    text-decoration: none;
}

main .social-media img {
    width: 36px;
    margin-left: 3rem;
}

main .social-media a:first-child img {
    margin-left: 0;
}

main .alternative {
    margin-top: 1rem;
}

main .alternative span {
    font-size: 1.1rem;
    font-weight: 400;
    color: #ff7f32;
    position: relative;
}

main .alternative span::before, main .alternative span::after {
    position: absolute;
    content: '';
    height: 1px;
    width: 100px;
    bottom: 50%;
    right: 50px;
    background: rgba(255, 255, 255, 0.3);
}

main .alternative span::after {
    left: 50px;
}

main form {
    display: flex;
    align-items: center;
    margin-left: 13%;
    
}

main form label {
    display: flex;
    flex-direction: column;
}


.text {
    background: #ebebeb;
    width: 170%;
    height: 50px;
    padding: 0 0.5rem;
    margin-top: 1rem;
    outline: none;
    color: rgba(166, 166, 166);
    font-size: 1rem;
    border: 1px solid #ff7f32;
    border-radius: 8px;
}

main form .cadastar[type="submit"] {
    cursor: pointer;
    width: 50%;
    height: 5rem;
    margin-top: 3rem;
    border: none;
    border-radius: 32px;
    background: #ff7f32;
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    transition: all .3s ease-in-out;
    align-items: center;
    justify-items: center;
    margin-left: 11rem;
}

main form .cadastar[type="submit"]:hover {
    background: #5952d4;
}

.text2{
    color: var(--color-texto);
    font-size: 16px;
    text-transform: uppercase;
}

section.images {
    width: 50vw;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 4rem;
}

section.images img {
    width: 100%;
}

section.images .circle {
    position: absolute;
    height: 110%;
    width: 100%;
    top: 0%;
    left: 0;
    background: linear-gradient(45deg, #dd9980, #ff7f32);
    clip-path: circle(40% at right 80%);
    z-index: 1;
}

@media only screen and (min-width: 900px) and (max-width: 1200px) {
    section.images img {
        width: 110%;
    }
    .text {
        background: #ebebeb;
        width: 150%;
        height: 50px;
        padding: 0 0.5rem;
        margin-top: 1rem;
        outline: none;
        color: rgba(166, 166, 166);
        font-size: 1rem;
        border: 1px solid #ff7f32;
        border-radius: 8px;
    }

    section.images .circle {
        clip-path: circle(35% at right 80%);
    }
}

@media only screen and (max-width: 900px) {
    section.images {
        display: none;
        visibility: hidden;
    }

    main {
        width: 100vw;
    }
    .text {
        background: #ebebeb;
        width: 130%;
        height: 50px;
        padding: 0 0.5rem;
        margin-top: 1rem;
        outline: none;
        color: rgba(166, 166, 166);
        font-size: 1rem;
        border: 1px solid #ff7f32;
        border-radius: 8px;
    }
}

@media only screen and (max-width: 450px) {
    main h1 {
        font-size: 2rem;
    }

    main .alternative span {
        font-size: 0.8rem;
    }

    main form label span, main form input[type="submit"] {
        font-size: 1rem;
    }
    .text {
        background: #ebebeb;
        width: 100%;
        height: 40px;
        padding: 0 0.5rem;
        margin-top: 1rem;
        outline: none;
        color: rgba(166, 166, 166);
        font-size: 1rem;
        border: 1px solid #ff7f32;
        border-radius: 8px;
    }

    main form .cadastar[type="submit"] {
        cursor: pointer;
        width: 50%;
        height: 4rem;
        margin-top: 3rem;
        border: none;
        border-radius: 32px;
        background: #ff7f32;
        color: white;
        font-size: 16px;
        text-transform: uppercase;
        transition: all .3s ease-in-out;
        align-items: center;
        justify-items: center;
        margin-left: 25%;
    }
}